/* Pixel Operator */
@font-face {
    font-family: 'Pixel Operator';
    src: url('fonts/PixelOperator.ttf');
}
/* JMH Cthulhumbus Arcade, Copyright 2018 jorge Morón, personal use only */
@font-face {
    font-family: 'dogica';
    src: url('fonts/dogica/dogicapixel.ttf');
}

@font-face {
    font-family: 'VCR';
    src: url('fonts/VCR_OSD_MONO.ttf');
}

@font-face {
    font-family: 'OCR_A';
    src: url('fonts/ocraext.ttf');
}

@font-face {
    font-family: 'FreePixel';
    src: url('fonts/FreePixel.ttf');
}

body {
    color: red;
    background-image: url("bg.gif");
    background-color: #040303;
    background-repeat: repeat;
    background-attachment: fixed;
}

#main-container {
    width: 900px;
    max-width: 100%;
    height: 100%;
    margin: auto;
    image-rendering: pixelated;
}

#main-flexbox {
    width: 656;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

main {
    flex-shrink: 5;
    flex-basis: 100%;
    border: solid thin;
    border-color: red;
    height: fit-content;
    min-height: calc(100vh - 85px)
}

h1 {
    font: 16px "FreePixel";
    margin: 5px 0px;
    color:red;
}

p {
    font: 16px "FreePixel";
    margin: 5px 0px;
    white-space: pre-wrap;
    color: #9370d8;
}

.nav_link {
    font: 16px "FreePixel";
    
    color: mediumslateblue;
    background: none!important;
    border: none;
    display: block;
    margin: auto;
    /*font-weight: 500;
    letter-spacing: -0px;*/
    text-decoration: underline;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
 }

.wiggle:hover{
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.nohover:hover { border: 0 }

#sidebar_flex {
    flex-basis: 200px;
    flex-shrink: 0;
    height: fit-content;
    border:none;
}

#sidebar {
    height: fit-content;
    text-align: center;
    color: red;
    background-color: black;
    border: solid thin;
    border-top-style: none;
    border-bottom-style: none;
    border-color: red;
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
    justify-content: space-evenly;
    padding-top:2px;
    padding-bottom:2px;
}

#melonland-surf-club {
    margin:auto;
    padding: 7px;
}

#main-iframe {
    margin: 0;
    height:100%;
    width: 100%;
}

#footer {
    position: fixed;
    left: 5px;
    bottom: 0px;
    width: 100%;
}

.marquee-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

@keyframes title-marquee {
    100% { transform: translateX(-187px); }
}
#title-marquee {
    margin:0;
    float: left;
    background-image: url("baameows2.gif");
    background-repeat: repeat-x;
    width: calc(187px + 100%);
    height: 23px;
    animation: title-marquee 3s linear infinite;
}

@keyframes tape-marquee {
    100% { transform: translateX(6px); }
}

.tape-marquee {
    float: right;
    background-image: url("taperight.png");
    background-repeat: repeat-x;
    width: calc(7px + 100%);
    height: 10px;
    animation: tape-marquee .32s linear infinite;
}

.vertical-center {
    margin: 0;
    top: 50%;
}

.navigation {
    margin: 10px 0px 12px 0px;
}

 .nav_link:hover{
    /*-webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; */
    text-shadow: 0 0 5px #ff0000;
}

@media (max-width: 639px) { .desktop-only {display: none;} }
@media (min-width: 641px) { .mobile-only {display: none;} }

@keyframes rotate {
    100% { transform: rotateY(360deg); }
}

#pagedoll {
    float:right;
    height:400px;
    animation: rotate 3s linear infinite;
}

@keyframes tilt-shake {
    0%   { transform: translate(1px, 1px); }
    24%  { transform: translate(1px, 1px); }
    25%  { transform: translate(-1px, -1px); }
    49%  { transform: translate(-1px, -1px); }
    50%  { transform: translate(1px, -1px); }
    74%  { transform: translate(1px, -1px); }
    75%  { transform: translate(-1px, 0px); }
    99% { transform: translate(-1px, 0px); }
    100% { transform: translate(1px, 1px); }
  }

  @keyframes wobble {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  @keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  .hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
  }
  .hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }